<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7084e27e-8314-41cc-b761-63e7010ad6aa/resourceGroups/DM106/providers/Microsoft.Web/sites/wrsProjetoFinalDM106</ResourceId>
    <ResourceGroup>DM106</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wrsprojetofinaldm106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wrsprojetofinaldm106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wrsProjetoFinalDM106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wrsProjetoFinalDM106</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:wrsprojetofinaldm106bdserver.database.windows.net,1433;Initial Catalog=wrsprojetofinaldm106_bd;User ID=rodolfo;Password=151359wrd!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="wrsProjetoFinalDM106.Models.ApplicationDbContext, wrsProjetoFinalDM106" MigrationConfiguration="wrsProjetoFinalDM106.Migrations.Configuration, wrsProjetoFinalDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wrsprojetofinaldm106bdserver.database.windows.net,1433;Initial Catalog=wrsprojetofinaldm106_bd;User ID=rodolfo;Password=151359wrd!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wrsprojetofinaldm106bdserver.database.windows.net,1433;Initial Catalog=wrsprojetofinaldm106_bd;User ID=rodolfo;Password=151359wrd!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wrsprojetofinaldm106bdserver.database.windows.net,1433;Initial Catalog=wrsprojetofinaldm106_bd;User ID=rodolfo;Password=151359wrd!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wrsprojetofinaldm106bdserver.database.windows.net,1433;Initial Catalog=wrsprojetofinaldm106_bd;User ID=rodolfo;Password=151359wrd!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wrsprojetofinaldm106bdserver.database.windows.net,1433;Initial Catalog=wrsprojetofinaldm106_bd;Persist Security Info=False;User ID={your_username};Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wrsprojetofinaldm106bdserver.database.windows.net,1433;Initial Catalog=wrsprojetofinaldm106_bd;Persist Security Info=False;User ID={your_username};Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:wrsprojetofinaldm106bdserver.database.windows.net,1433;Initial Catalog=wrsprojetofinaldm106_bd;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>